<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Inventario La preciosa</title>
</head>
<body>
    <div class="container text-center">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID del producto</th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Precio del producto</th>
                <th scope="col">Lote del producto</th>
                <th scope="col">Descripcion del producto</th>
                <th scope="col">Cantidad del producto</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto:${listaProducto}">
                <td th:text="${producto.id_producto}"></td>
                <td th:text="${producto.nombre_producto}"></td>
                <td th:text="${producto.precio_producto}"></td>
                <td th:text="${producto.lote_producto}"></td>
                <td th:text="${producto.descripcion_producto}"></td>
                <td th:text="${producto.cantidad_producto}"></td>
              </tr>
              
            </tbody>
          </table>
    </div>
</body>
</html>